body {
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Arial", sans-serif;*/
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Arial", sans-serif;
	font-weight: normal;
	background: #F3F2E8;
	color: #51463D;
}

.container {
	max-width:80em; /* 1280px / 16px = 80em */
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
	/* Add padding to top of bottom if required */
}

.col { 
	display: block;
	float: left;
	margin-right: 2%;
}

.col:last-of-type { margin-right: 0; }

.span-1 { width: 6.5%; }
.span-2 { width: 15.0%; }
.span-3 { width: 23.5%; }
.span-4 { width: 32.0%; }
.span-5 { width: 40.5%; }
.span-6 { width: 49.0%; }
.span-7 { width: 57.5%; }
.span-8 { width: 66.0%; }
.span-9 { width: 74.5%; }
.span-10 { width: 83.0%; }
.span-11 { width: 91.5%; }
.span-12 { width: 100%; }

/* No gutters
.span-1 { width: 8.33333%; }
.span-2 { width: 16.66667%; }
.span-3 { width: 25%; }
.span-4 { width: 33.33333%; }
.span-5 { width: 41.66667%; }
.span-6 { width: 50%; }
.span-7 { width: 58.33333%; }
.span-8 { width: 66.66667%;}
.span-9 { width: 75%; }
.span-10 { width: 83.33333%; }
.span-11 { width: 91.66667%; }
.span-12 { width: 100%; }*/

/* headings */

h1 { font-size: 2.44444em; }
h2 { font-size: 2.05556em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.27778em; }
h5, h6 { font-size: 1em; }